<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="wrapper">
			<div id="navBar">
				<div id="logo">Save the Bees</div>
				<nav>
					<ul>
						<a href="index.html"><li>HOME</li></a>
						<a href="Situation.html"><li>situation</li></a>
						<a href="Solution.html"><li>solution</li></a>
						<a href="howtoHelp.html"><li>how to help</li></a>
					</ul>
				</nav>
			</div> -->
				<div id="helpbanner"></div>
				<div class="divider"></div>
				<div id="content">
					<div class="contentWrap">
						<div class="left">
							<div class="icon4"></div>
								<h3>Add Your Signature</h3>
									<p>Lorem ipsum dolor sit amet, duis elementum lorem maecenas eget vitae, et risus mauris a ipsum integer quis. Suscipit ipsum nulla vestibulum magna feugiat quis, nec purus. Proin venenatis praesent nisl, pretium et. Orci sed, ac nunc condimentum vitae leo imperdiet. Suspendisse mauris dignissim neque eum, enim consectetuer praesent convallis gravida, suscipit amet nisl tristique ipsum, eget lobortis cras lorem scelerisque integer montes. Consequat faucibus pretium integer, amet eleifend magna, phasellus vivamus aliquam egestas aliquam mauris ac.</p>
						</div>
						<div class="middle">
							<div class="icon5"></div>
								<h3>Everyday Tips</h3>
									<p>Lorem ipsum dolor sit amet, duis elementum lorem maecenas eget vitae, et risus mauris a ipsum integer quis. Suscipit ipsum nulla vestibulum magna feugiat quis, nec purus. Proin venenatis praesent nisl, pretium et. Orci sed, ac nunc condimentum vitae leo imperdiet. Suspendisse mauris dignissim neque eum, enim consectetuer praesent convallis gravida, suscipit amet nisl tristique ipsum, eget lobortis cras lorem scelerisque integer montes. Consequat faucibus pretium integer, amet eleifend magna, phasellus vivamus aliquam egestas aliquam mauris ac.</p>
						</div>
						<div class="right">
							<div class="icon6"></div>
								<h3>Spread Awareness</h3>
									<p>Lorem ipsum dolor sit amet, duis elementum lorem maecenas eget vitae, et risus mauris a ipsum integer quis. Suscipit ipsum nulla vestibulum magna feugiat quis, nec purus. Proin venenatis praesent nisl, pretium et. Orci sed, ac nunc condimentum vitae leo imperdiet. Suspendisse mauris dignissim neque eum, enim consectetuer praesent convallis gravida, suscipit amet nisl tristique ipsum, eget lobortis cras lorem scelerisque integer montes. Consequat faucibus pretium integer, amet eleifend magna, phasellus vivamus aliquam egestas aliquam mauris ac.</p>
						</div>
					</div>
				</div>	
			<footer id="footer"></footer>
		</div>
<!-- 	</body>
</html>	 -->