
			<div id="banner">

			</div>
			<div class="divider"></div>

			<div id="content">
					
					<h1><%= params["first_name"]%> <%= params["last_name"] %>! Help us save the bees!</h1>
					
					<div class="left">
						<div class="icon1"></div>
						<h3>Situation</h3>
						<p> Honeybees are our greatest agricultural workforce. As the world’s primary pollinators, they ensure that over one third of our fruits and vegetables continue to stay on grocery store shelves. What if several of your favorite foods disappeared in the next five to ten years? Imagine the loss of items like almonds, cashews, peaches, raspberries, vanilla, and cocoa. These items are just a few of the hundreds of foods we would lose. Honey bees are crucial to maintaining the variety of produce we enjoy— and they are dwindling. As many as 10 million beehives have disappeared since the early 1990’s and that number is steadily growing. This phenomenon is known as Colony Collapse Disorder (CCD) and will have devastating effects on the earth and our food supply. </p>
					</div>
					<div class="middle">
						<div class="icon2"></div>
						<h3>Solution</h3>
						<p> Through multiple experiments and investigations, it has been made clear that there are several factors causing Colony Collapse Disorder (CCD). Geographical change, climate change, and the use of pesticides and fungicides have all contributed to this environmental disaster. However, it has been discovered that the major offender is Clothianidin, a systemic pesticide classified as a neonicotinoid. We pose that the banning of all neonicotinoids, through enforced sustainable farming practices, is the solution. Bees pollinate crops that have been sprayed by neonictinoids and often consume pollen that has been infected by this class of pesticides.  Ridding our farms of neonictinoids would allow for healthier bees and prevent CCD. </p>
					</div>
					<div class="right">
						<div class="icon3"></div>
						<h3>How to Help</h3>
						<p> There are several ways to help. Spreading Colony Collapse Disorder (CCD) awareness is critical, as most people do not even know that it is occurring. Many who do know about CCD, rarely understand the severity of what is going on, or how catastrophic its effects will be, should it continue. Social media is a great network system that can raise awareness quickly. Signing our petition to eradicate neonicotinoids and implement sustainable farming methods can also help prevent CCD at a judicial level.  There are also several everyday actions and personal choices that you can make, to help with this cause and to protect the environment. Everyone can do something, big or small, to help. Learn more about how you can help to fight CCD <a href="howtoHelp.html" class="hthlink">here</a>.</p>
					</div>
				</div>

			</div>

			<footer id="footer"></footer>
		</div>
