<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="wrapper">
			<div id="navBar">
				<div id="logo">Save the Bees</div>
				<nav>
					<ul>
						<a href="index.html"><li>HOME</li></a>
						<a href="Situation.html"><li>situation</li></a>
						<a href="Solution.html"><li>solution</li></a>
						<a href="howtoHelp.html"><li>how to help</li></a>
					</ul>
				</nav>
			</div> -->
				<div id="sitbanner"></div>
				<div class="divider"></div>
				<div id="content">
					<div class="contentWrap">
						<div class="ccdImg"></div>
						<div class="ccdContent">
							<h3 style="text-align:center;font-size:20pt;margin-top:40px;margin-bottom:10px;"> Situation </h3>
							<p style="margin-left:55px;margin-right:55px;margin-top:20px;"> Honeybees are our greatest agricultural workforce. As the world’s primary pollinators, they ensure that over one third of our fruits and vegetables continue to stay on grocery store shelves. What if several of your favorite foods disappeared in the next five to ten years? Imagine the loss of items like almonds, cashews, peaches, raspberries, vanilla, and cocoa. These items are just a few of the hundreds of foods we would lose. Honey bees are crucial to maintaining the variety of produce we enjoy— and they are dwindling. As many as 10 million beehives have disappeared since the early 1990’s and that number is steadily growing. This phenomenon is known as Colony Collapse Disorder (CCD) and will have devastating effects on the earth and our food supply. </p>
						</div>	
					</div>	
				</div>
		</div>
			<footer id="footer"></footer>
		</div>
<!-- 	</body>
</html>	 -->