<!-- <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="wrapper">
			<div id="navBar">
				<div id="logo">Save the Bees</div>
				<nav>
					<ul>
						<a href="index.html"><li>HOME</li></a>
						<a href="Situation.html"><li>situation</li></a>
						<a href="Solution.html"><li>solution</li></a>
						<a href="howtoHelp.html"><li>how to help</li></a>
					</ul>
				</nav>
			</div> -->
				<div id="solbanner"></div>
				<div class="divider"></div>
				<div class="solcontent">
						<h3 style="text-align:left;margin-left:70px;font-size:20pt;margin-bottom:0px;"> Solution </h3>
						<p class="solpara"> Through multiple experiments and investigations, it has been made clear that there are several factors causing Colony Collapse Disorder (CCD). Geographical change, climate change, and the use of pesticides and fungicides have all contributed to this environmental disaster. However, it has been discovered that the major offender is Clothianidin, a systemic pesticide classified as a neonicotinoid. We pose that the banning of all neonicotinoids, through enforced sustainable farming practices, is the solution. Bees pollinate crops that have been sprayed by neonictinoids and often consume pollen that has been infected by this class of pesticides.  Ridding our farms of neonictinoids would allow for healthier bees and prevent CCD. </p>
					</div>	
		</div>
			<footer id="footer"></footer>
		</div>
<!-- 	</body>
</html>	 -->